@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-color: #f6f6f6; }
  body .tarjeta_titulo {
    color: #55524d;
    font-weight: 800; }
  body .tarjeta_texto {
    color: #aa9d8c;
    font-weight: 800; }
  body .navbar__fondo {
    background-color: #000; }
  body .dropdown-menu {
    --bs-body-color: #fff;
    --bs-body-bg: #a89c8bc4;
    --bs-dropdown-link-active-bg: #0000004d;
    --bs-primary-border-subtle: #0000004d; }
  body .dropdown-item:focus, body .dropdown-item:hover {
    background-color: #c0aa834f; }
  body .navbar {
    --bs-navbar-color: #fff; }
  body .navbar-toggler {
    background-color: #fff; }
  body .navbar-toggler:focus {
    box-shadow: none; }
  body .btn-outline-success {
    --bs-btn-color: #ffffff;
    --bs-btn-border-color: #ffffff;
    --bs-btn-hover-bg: #c0aa83;
    --bs-btn-hover-border-color: #c0aa83;
    --bs-btn-active-bg: #c0aa83;
    --bs-btn-active-border-color: #c0aa83;
    --bs-btn-disabled-color: #c0aa83;
    --bs-btn-disabled-border-color: #c0aa83; }
  body .logo {
    width: 5%; }
    body .logo .logo__imagen {
      width: 100%; }
    @media (max-width: 767px) {
      body .logo {
        width: 12.5%; } }
  body .navbar_carrito {
    width: 1.4em;
    height: 1.4em; }
  body .sombras {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important; }

.focus-visible {
  outline-color: #c0aa83; }

.contenedor_footer {
  padding: 4rem;
  background-color: black; }
  .contenedor_footer .footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100%;
    background-color: black;
    font-family: "Poppins", sans-serif;
    font-weight: bold; }
    .contenedor_footer .footer h5 {
      color: white;
      font-size: large;
      font-weight: bold; }
    .contenedor_footer .footer ul {
      list-style: none;
      padding-left: 0; }
    .contenedor_footer .footer li {
      color: white; }
    .contenedor_footer .footer .footer__info {
      padding: 1%; }
    .contenedor_footer .footer a {
      text-decoration: none;
      --bs-link-color-rgb: #fff; }
    @media (max-width: 767px) {
      .contenedor_footer .footer {
        flex-direction: column;
        align-items: center;
        padding-top: 10%; }
        .contenedor_footer .footer .footer__info {
          width: 214px; } }
  .contenedor_footer hr {
    color: #f5deb375; }
  .contenedor_footer p {
    color: #f5deb33b; }
  .contenedor_footer .img_sociales {
    width: 12%; }
    @media (max-width: 767px) {
      .contenedor_footer .img_sociales {
        width: 10%; } }

.section-card .card_productos {
  padding: 24px 24px;
  margin: 24px 18px 48px; }

#portada {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 100%;
  height: 620px;
  padding: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(https://images.pexels.com/photos/7799695/pexels-photo-7799695.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  filter: saturate(0.8);
  inset: 0; }
  #portada a {
    text-decoration: none; }
  #portada h1 {
    color: #fff; }
  #portada h2 {
    color: #fff; }
  #portada h3 {
    color: #fff; }
  @media (max-width: 767px) {
    #portada {
      background-position: right; } }
  #portada .padding {
    padding-top: 30%; }
  #portada .flecha {
    width: 3%; }
    #portada .flecha .flecha__imagen {
      width: 100%; }
  @media (max-width: 767px) {
    #portada {
      padding-top: 20%; }
      #portada .flecha {
        width: 6%; } }

#section-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px; }
  #section-1 p {
    color: #c0aa83;
    font-weight: bold;
    font-family: "Poppins", sans-serif; }

#section-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  font-weight: bold;
  font-family: "Poppins", sans-serif; }
  @media (max-width: 767px) {
    #section-2 .nav__menu {
      display: flex;
      justify-content: center; } }

#section-3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 2%; }

.section-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  font-family: "Poppins", sans-serif; }
  .section-card .card_productos {
    border-radius: 7px; }

#section-4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url(https://images.unsplash.com/photo-1517999586990-2126f2b0c97d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-size: cover;
  height: 760px;
  background-position: center;
  filter: saturate(0.8); }
  @media (max-width: 767px) {
    #section-4 {
      height: 624px; } }

:root, [data-bs-theme=light] {
  --bs-link-color: #919090;
  --bs-link-hover-color: #919090; }

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #AA9D8C;
  --bs-btn-border-color: none;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #795F3A;
  --bs-btn-hover-border-color: #795F3A;
  --bs-btn-focus-shadow-rgb: 130,138,145;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #795F3A;
  --bs-btn-active-border-color: none;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: none;
  --bs-btn-disabled-border-color: none;
  font-weight: bold; }

.contenedor_boton {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.contenido_carrito {
  position: fixed;
  overflow: auto;
  z-index: 9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 80%;
  background-color: #f6f6f6; }
  @media (max-width: 767px) {
    .contenido_carrito {
      width: 85%; } }

.swal2-styled.swal2-confirm {
  background-color: #AA9D8C !important;
  color: #fff !important; }

.swal2-styled.swal2-confirm:focus {
  box-shadow: 0 0 0 3px white !important; }

.swal2-html-container {
  color: #c0aa83 !important; }

.swal2-styled.swal2-default-outline:focus {
  box-shadow: 0 0 0 3px white !important; }

#portada_productos {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 100%;
  padding: 6%;
  height: 250px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1517093602195-b40af9688b46?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);
  background-position: left;
  background-size: cover;
  filter: saturate(0.8);
  inset: 0; }
  #portada_productos h1 {
    color: #fff; }
  @media (max-width: 767px) {
    #portada_productos {
      background-position: right;
      padding-top: 25%; } }

.flecha_atras {
  width: 15%; }

a {
  text-decoration: none; }

.img {
  width: 100%; }
  .img img {
    width: 100%; }

.flex-wrap {
  padding: 3% 8% 2% 8%; }
  @media (max-width: 767px) {
    .flex-wrap {
      padding-top: 5%; } }

[role=button] {
  padding-top: 5%; }

.product-input {
  background-color: initial;
  border: transparent;
  font-size: 1rem;
  height: 1rem;
  line-height: 1;
  margin-bottom: auto;
  margin-top: auto;
  padding: 0.95rem;
  text-align: center;
  width: 55px; }

.btn-outline-secondary {
  --bs-btn-hover-bg: #AA9D8C;
  --bs-btn-active-bg: #795f34; }

.font {
  font-family: "Poppins", sans-serif; }

@media (max-width: 767px) {
  .h-100 {
    padding-top: 10%; }
  .align-items-center {
    padding-bottom: 10%; } }

#portada_carrito {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  padding: 6%;
  height: 250px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1452195100486-9cc805987862?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80);
  background-position: initial;
  background-size: cover;
  filter: saturate(0.8);
  inset: 0; }
  #portada_carrito h1 {
    color: #fff; }
  #portada_carrito h2 {
    color: #fff; }
  @media (max-width: 767px) {
    #portada_carrito {
      background-position: right;
      padding-top: 15%; } }

@media (max-width: 575px) {
  .container {
    max-width: 340px; }
  table {
    width: 100%; }
  table tr {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #AA9D8C;
    padding: 1%; }
  table td[data-titulo] {
    display: flex; }
  table td[data-titulo]::before {
    content: attr(data-titulo);
    width: 150px;
    font-weight: bold; }
  table thead {
    display: none; }
  :root, [data-bs-theme=light] {
    --bs-border-width: 0; }
  .btn-outline-secondary {
    --bs-btn-hover-bg: #AA9D8C;
    --bs-btn-active-bg: #795f34;
    border: solid 1px #6c757d; } }

.imagen_carrito {
  height: 20px; }

thead {
  background-color: #a89c8b;
  border-bottom: 2px solid black; }

td {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  vertical-align: middle; }

hr {
  opacity: 0.1; }

.flecha_atras_carrito {
  width: 5%; }
  @media (max-width: 767px) {
    .flecha_atras_carrito {
      width: 10%; } }

.btn:first-child:active {
  border-color: transparent; }

#portada_productos {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 100%;
  padding: 6%;
  height: 250px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1551790629-9d5c2d781d8b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=927&q=80);
  background-position: left;
  background-size: cover;
  filter: saturate(0.8);
  inset: 0; }
  #portada_productos h1 {
    color: #fff; }
  @media (max-width: 767px) {
    #portada_productos {
      background-position: right;
      padding-top: 25%; } }

.flex-wrap-descripcion {
  padding: 3% 10% 2% 10%; }

.descripcion {
  padding-left: 10%;
  max-width: 100%; }

p {
  font-weight: bold;
  color: #55524d; }
