* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-color: #f6f6f6; }
  body .navbar__fondo {
    background-color: #000; }
  body .btn-outline-success {
    --bs-btn-color: #ffffff;
    --bs-btn-border-color: #ffffff;
    --bs-btn-hover-bg: #c0aa83;
    --bs-btn-hover-border-color: #c0aa83;
    --bs-btn-active-bg: #c0aa83;
    --bs-btn-active-border-color: #c0aa83;
    --bs-btn-disabled-color: #c0aa83;
    --bs-btn-disabled-border-color: #c0aa83; }
  body .logo {
    width: 5%; }
    body .logo .logo__imagen {
      width: 100%; }
    @media (max-width: 576px) {
      body .logo {
        width: 12.5%; } }
  body .navbar_carrito {
    width: 1.4em;
    height: 1.4em; }
  body .sombras {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important; }

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10%;
  max-width: 100%;
  height: 450px;
  background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0.93)); }
  .footer h5 {
    color: white;
    font-size: large; }
  .footer ul {
    list-style: none;
    padding-left: 0; }
  .footer li {
    color: white; }
  .footer .footer__info {
    padding: 1%; }
  @media (max-width: 576px) {
    .footer {
      flex-direction: column;
      align-items: center; }
      .footer .footer__info {
        width: 214px; } }

.section-card .card_productos {
  padding: 24px 24px;
  margin: 24px 18px 48px; }

#portada {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 100%;
  height: 620px;
  padding: 0;
  background-image: url(https://images.pexels.com/photos/7799695/pexels-photo-7799695.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  inset: 0; }
  @media (max-width: 576px) {
    #portada {
      background-position: right; } }

.padding {
  padding-top: 40%; }

.flecha {
  width: 3%; }
  .flecha .flecha__imagen {
    width: 100%; }

#section-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px; }

#section-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px; }
  @media (max-width: 576px) {
    #section-2 .nav__menu {
      display: flex;
      justify-content: center; } }

#section-3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  #section-3 .boton_tarjeta {
    background-color: #aa9d8c;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    padding: 1%; }

.section-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 1.5em; }
  .section-card .card_productos {
    border-radius: 7px;
    height: 433px; }

#section-4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  height: auto; }
  #section-4 img {
    width: 100%; }
  @media (max-width: 576px) {
    #section-4 {
      height: 450px; } }
