*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
//Estilos utilizados para el body
body{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: #f6f6f6;
    .tarjeta_titulo{
        color: #55524d;
        font-weight: 800;
    }
    .tarjeta_texto{
        color: #aa9d8c;
        font-weight: 800;
    }
// Estilos para el header
.navbar__fondo{
    background-color: #000;
}
.dropdown-menu {
    --bs-body-color: #fff;
    --bs-body-bg: #a89c8bc4;
    --bs-dropdown-link-active-bg: #0000004d;
    --bs-primary-border-subtle: #0000004d;
}
.dropdown-item:focus, .dropdown-item:hover {
    background-color: #c0aa834f;
}
.navbar {
    --bs-navbar-color: #fff;
}
.navbar-toggler{
    background-color: #fff;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.btn-outline-success {
        --bs-btn-color: #ffffff;
        --bs-btn-border-color: #ffffff;
        --bs-btn-hover-bg: #c0aa83;
        --bs-btn-hover-border-color: #c0aa83;
        --bs-btn-active-bg: #c0aa83;
        --bs-btn-active-border-color: #c0aa83;
        --bs-btn-disabled-color: #c0aa83;
        --bs-btn-disabled-border-color: #c0aa83;
    }
    .logo{
        width: 5%;
        .logo__imagen{
            width: 100%;
        }
        @media(max-width:767px){
        width: 12.5%;
        }
    }
    .navbar_carrito{
        width: 1.4em;
        height: 1.4em;
    }
    .sombras {
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    }
}

// Estilos para el Footer
    .contenedor_footer{
        padding: 4rem;
        background-color: black;
    .footer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 10%;
        max-width: 100%;
        background-color: black;
        font-family: $tipografia;
        font-weight: bold;
        h5{
            color: white;
            font-size: large;
            font-weight: bold;
        }
        ul{
            list-style: none;
            padding-left: 0;
        }
        li{
            color: white;
        }
        .footer__info{
            padding: 1%;
        }
        a{
            text-decoration: none;
            --bs-link-color-rgb: #fff;
        }
        @media(max-width:767px){
            flex-direction: column;
            align-items: center;
            .footer__info{
                width: 214px;
            }
        }
    }
    hr{
        color: #f5deb375;
    }
    p{
        color: #f5deb33b;
    }
    .img_sociales{
        width: 12%;
        @media(max-width:767px){
            width:  10%;
        }
    }
}