*{
    margin:0;
    padding: 0;
}

//Estilos utilizados para el body
body{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
    grid-template-columns: auto;
    grid-template-rows: auto;

// Estilos para el header
.navbar__fondo{
    background-color: #000;
}
.btn-outline-success {
        --bs-btn-color: #ffffff;
        --bs-btn-border-color: #ffffff;
        --bs-btn-hover-bg: #c0aa83;
        --bs-btn-hover-border-color: #c0aa83;
        --bs-btn-active-bg: #c0aa83;
        --bs-btn-active-border-color: #c0aa83;
        --bs-btn-disabled-color: #c0aa83;
        --bs-btn-disabled-border-color: #c0aa83;
    }
    .logo{
        width: 5%;
        .logo__imagen{
            width: 100%;
        }
    }
    .navbar_carrito{
        width: 1.4em;
        height: 1.4em;
    }
}