#portada_carrito{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    padding: 6%;
    height: 250px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1452195100486-9cc805987862?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80);
    background-position: initial;
    background-size: cover;
    filter: saturate(0.8);
    inset: 0;
    h1{
        color: #fff;
    }
    h2{
        color: #fff;
    }
    @media(max-width:767px){
    background-position: right;
    padding-top: 15%;;
    }
}
@media(max-width:575px){
    .container{
        max-width: 340px;
    }
    table{
        width: 100%;
    }
    table tr{
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #AA9D8C;
        padding: 1%;
    }
    table td[data-titulo]{
        display: flex;
    }
    table td[data-titulo]::before{
        content: attr(data-titulo);
        width: 150px;
        font-weight: bold;
    }
    table thead{
        display: none;
    }
    :root, [data-bs-theme=light]{
        --bs-border-width: 0;  
    }
    .btn-outline-secondary {
        --bs-btn-hover-bg: #AA9D8C;
        --bs-btn-active-bg: #795f34;
        border: solid 1px#6c757d;
    }
}
.imagen_carrito{
    height: 20px;
}
thead{
    background-color:#a89c8b;
    border-bottom: 2px solid black;
}
td{
    font-family: $tipografia;
    font-weight: bold;
    vertical-align: middle;
}
hr{
    opacity: 0.1;
}
.flecha_atras_carrito{
    width: 5%;
    @media(max-width:767px){
        width: 10%;
    }
}
.btn:first-child:active{
    border-color: transparent;
}
        
