#portada{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    max-width: 100%;
    height: 620px;
    padding: 0, ;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(https://images.pexels.com/photos/7799695/pexels-photo-7799695.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    filter: saturate(0.8);
    inset: 0;
    a{
        text-decoration: none;;
    }
    h1{
        color: #fff;
    }
    h2{
        color: #fff;;
    }
    h3{
        color: #fff;
    }
    @media(max-width:767px){
    background-position: right;
    }
    .padding{
        padding-top: 30%;
    }
    .flecha{
        width: 3%;
        .flecha__imagen{
            width: 100%;
        }
    }
    @media(max-width:767px){
        padding-top: 20%;
        .flecha{
            width: 6%;
        }
    }
}
#section-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    p{
        color: #c0aa83;
        font-weight: bold;
        font-family: $tipografia;
    }
}
#section-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    font-weight: bold;
    font-family: $tipografia;
    @media(max-width:767px){
        .nav__menu{
            display: flex;
            justify-content: center;
        }
    }
}
#section-3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2%;
}
.section-card{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    font-family: $tipografia;
    .card_productos{    
        border-radius: 7px;
        @extend %tarjeta__producto;
    }
}
#section-4{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url(https://images.unsplash.com/photo-1517999586990-2126f2b0c97d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-size: cover;
    height: 760px;
    background-position: center;
    filter: saturate(0.8);
    @media(max-width:767px){
    height: 624px;
    }
}
:root, [data-bs-theme=light]{
    --bs-link-color: #919090;
    --bs-link-hover-color: #919090;
}
.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #AA9D8C;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #795F3A;
    --bs-btn-hover-border-color: #795F3A;
    --bs-btn-focus-shadow-rgb: 130,138,145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #795F3A;
    --bs-btn-active-border-color: none;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: none;
    --bs-btn-disabled-border-color: none;
    font-weight: bold;
}
.contenedor_boton{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contenido_carrito{
    position:fixed;
    overflow: auto;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 80%;
    background-color: #f6f6f6;
    @media(max-width:767px){
        width: 85%;
        }
}
.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #AA9D8C;
    color: #fff;
    font-size: 1em;
}
.swal2-styled.swal2-confirm:focus {
    box-shadow: 0 0 0 3px rgb(255, 255, 255);
}
.swal2-html-container {
    color: #c0aa83;
}
.swal2-styled.swal2-default-outline:focus {
    box-shadow: 0 0 0 3px rgb(255, 255, 255);
}