#portada_productos{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    max-width: 100%;
    padding: 6%;
    height: 250px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(/imagenes/portada-cheeseboard.jpg);
    background-position: left;
    background-size: cover;
    filter: saturate(0.8);
    inset: 0;
    h1{
        color: #fff;
    }
    @media(max-width:767px){
    background-position: right;
    padding-top: 25%;;
    }
}
.flecha_atras{
    width: 15%;
}
a{
    text-decoration: none;
}
.img{
    width: 100%;
    img{
        width: 100%;
    }
}
.flex-wrap {
    padding: 3% 8% 2% 8%;
    @media(max-width:767px){
        padding-top: 5%;
    }
}
[role=button] {
    padding-top: 5%;
}
.product-input{
    background-color: initial;
    border: transparent;
    font-size: 1rem;
    height: 1rem;
    line-height: 1;
    margin-bottom: auto;
    margin-top: auto;
    padding: 0.95rem;
    text-align: center;
    width: 55px;
}
.btn-outline-secondary {
    --bs-btn-hover-bg: #AA9D8C;
    --bs-btn-active-bg: #795f34;
}
.font{
    font-family: $tipografia;
}
@media(max-width:767px){
    .h-100{
        padding-top: 10%;
    }
    .align-items-center {
        padding-bottom: 10%;
    }
}