#portada{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    max-width: 100%;
    height: 620px;
    padding: 0, ;
    background-image: url(https://images.unsplash.com/photo-1512654448383-47b2fe224e44?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
    inset: 0;
}
.padding{
    padding-top: 30%;
}
.flecha{
    width: 3%;
    .flecha__imagen{
        width: 100%;
    }
}
#section-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}
#section-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}
#section-3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.section-card{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 1.5em;
}
#section-4{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    height: auto;
    img{
        width: 100%;
        }
}
.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10%;
    max-width: 100%;
    height: 450px;
    background-color: #000;
    h5{
        color: white;
        font-size: large;
    }
    ul{
        list-style: none;
        padding-left: 0;
    }
    li{
        color: white;
    }
    .footer__info{
        padding: 1%;
    }
}
