#portada{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    max-width: 100%;
    height: 620px;
    padding: 0, ;
    background-image: url(/imagenes/imagen-portada.jpg);
    background-size: cover;
    inset: 0;
}
.padding{
    padding-top: 30%;
}
.flecha{
    width: 3%;
    .flecha__imagen{
        width: 100%;
    }
}
#section-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}
#section-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}
#section-3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.section-card{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 1.5em;
}
//section:nth-child(1){
//    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0, 0, 0, 0.288) 120%) #989898;
//    background-blend-mode: multiply,multiply;;
//}
